# Python bytecode / cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Conda / environments
.env
.venv
venv/
env/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Build / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# Snakemake
.snakemake/

# Optional generated outputs
results/
